<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <%- include('header')%>

        <main>

            <!-- <div id="introduction">

                <h4> Soundtrack your life with Yoursounds ...... </h4>
                <p>Beethoven said  <strong style="color: #FF614A;">  “Music is the mediator between the spiritual and the sensual life."    </strong> 
                    And from here our website was born, your sounds it's not just a website 
                    With your sound, it's easy to find the right music, on your phone, your computer. There are tons of tracks on your sound. So whether you're behind the wheel,
                    working out, partying, or relaxing, the right music is always at your fingertips. Choose what you want to listen to, or let YourSound cheer you.
                    You can also browse through the artists, and events, or create and update your list and just return back anytime. 
                </p>
            </div> -->
            <section id ="aboutus" >
                
                
                <section id ="member">
                    
                    <div>
                        <img id="profile1" src='https://avatars.githubusercontent.com/u/55560502?v=4'>
                        <h3>Basel Atalla</h3>
                        <ul id="media">
                            <a href=""> <i class="fa fa-facebook" style="color: black;font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-twitter" style="color: black;font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-linkedin" style="color: black;font-size: large;"></i></a>
                          </ul>
                        
                    </div>
                    
                </section>
                
                <section  id ="member">
                    
                    <div>
                        <img id="profile1" src='https://ca.slack-edge.com/TNGRRLUMA-U01L41BSNVC-a16a21d58982-512'>
                        <h3>Bader Al Shawabkeh</h3>
                        <ul id="media">
                            <a href=""> <i class="fa fa-facebook" style="color: black;font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-twitter" style="color: black;font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-linkedin" style="color: black;font-size: large;"></i></a>
                          </ul>
                        
                    
                </div>
                
            </section>
            
            <section id ="member">
                
                
                <div>
                    
                    
                    <img id="profile1"src='https://ca.slack-edge.com/TNGRRLUMA-U01M0KJEQ1E-ec802b690dd2-512'>
                    <h3>Odai Al-Fwa'er</h3>
                    <ul id="media">
                        <a href=""> <i class="fa fa-facebook" style="color: black;font-size: large;"></i></a>
                        <a href=""> <i class="fa fa-twitter" style="color: black;font-size: large;"></i></a>
                        <a href=""> <i class="fa fa-linkedin" style="color: black;font-size: large;"></i></a>
                      </ul>
                    
                </div>
                
            </section>
            <section  id ="member">
                
                <div>
                    
                    <img id="profile1"src='https://ca.slack-edge.com/TNGRRLUMA-U01M0KK0VCG-641524926a59-512'>
                    <h3>Doa'a Obeidat </h3>
                    
                    <ul id="media">
                        <a href=""> <i class="fa fa-facebook" style="color: black;font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-twitter" style="color: black;font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-linkedin" style="color: black;font-size: large;"></i></a>
                      </ul>
                    
                    
                </div>
                
            </section>
            
            <section  id ="member">
                
                <div>
                    
                    
                    <img id="profile1" src='https://ca.slack-edge.com/TNGRRLUMA-U01MS9S32UA-03a933c6a626-512'>
                    <h3>Hamza Qahoush</h3>
                    <ul id="media">
                        <a href=""> <i class="fa fa-facebook" style="color: black; font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-twitter" style="color: black;font-size: large;"></i></a>
                            <a href=""> <i class="fa fa-linkedin" style="color: black;font-size: large;"></i></a>
                      </ul>
                    
                </div>
                
            </section>
            
            <section id ="member">
                
                <div>
                    
                    <img id="profile1"src='https://ca.slack-edge.com/TNGRRLUMA-U01N4U7URS5-bd317a74f904-512'>
                    <h3>Niveen Smadi</h3>
                    <ul id="media">
                        <a href="https://web.facebook.com/niveena.monem.9/"> <i class="fa fa-facebook"style="color: black;font-size: large;"></i></a> 
                        <a href="https://twitter.com/niveen_monem"> <i class="fa fa-twitter"style="color: black;font-size: large;" ></i></a>
                        <a href="https://www.linkedin.com/in/niveenalsmadi/"> <i class="fa fa-linkedin"style="color: black;font-size: large;" ></i></a>
                      </ul>
                    
                  
                </div>

            </section>
        </section>

        </main>
        <%- include('footer')%>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="/js/app.js"></script>
</body>

</html>