<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>

<style>
    h3 {
        color: white;
        font-family: Regular 400 italic;
        font-size: larger;
    }

    body {
        background-color: rgb(41, 37, 41);
    }

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #card {
        width: 30%;

    }

    header {
        height: auto;
        width: 100%;
    }

    #content {
        text-align: center;
        font-size: larger;
        color: white;
        margin-bottom: 100px;
    }



    img {
        height: 250px;
        border-radius: 50%;
        border: 1px solid #ddd;

    }

    img:hover {
        box-shadow: 0 0 5px 10px rgba(247, 91, 19, 0.5);
    }

    p {
        font-size: large;
        font-family: Regular 400;
        background-color: rgb(41, 37, 41);
        width: 300px;
        color: white;
    }


    p:hover {
        color: #ff614a;
    }

    @media (min-width: 769px) and (max-width: 959px) {

        #card {
            width: 40%;


        }


    }


    @media (max-width: 767px) {

        #card {
            width: 60%;


        }

        header {
            height: 400px;
        }
    }






    h1 {
        margin-top: 100px;
        margin-left: -1000px;
    }

    h2 {
        margin-left: -220px;
    }

    .logo {
        float: left;
        display: block;
        width: 300px;
        height: 100px;
        margin-left: 10px;
        margin-top: 12px;

    }

    .homeref {
        margin-left: 860px;
        font-size: 25px;
        font-weight: bold;
        line-height: 0px;
        text-decoration: none;
        font-family: 'Abel', sans-serif;
        color: #ff614a;
        margin-top: 700px;

    }

    a:hover {
        color: #050505;
    }
</style>

<body>



    <!-- <%- include('header')%> -->

        <div id="content">
            <h1>Meet our team</h1>
            <h2>ALPHA team is a team consists of six briliant web developers from ASAC bootcamp</h2>

        </div>


        <main id="main">

            <section id="card">

                <div id="member">
                    <img src='https://avatars.githubusercontent.com/u/55560502?v=4'>
                    <h3>Basel Atalla</h3>
                    <p>I am 24 years old, Studied Bachelor Degree in Mechatronics Engineering
                        at Tafila Technical University Now I am a student at Abdul Aziz Al Ghurair School of Advanced
                        Computing.</p>
                </div>

            </section>

            <section id="card">

                <div id="member">


                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01M0KJEQ1E-ec802b690dd2-512'>

                    <h3>Odai Al-Fwa'er</h3>
                    <p>I am 30 years old, graduated from philadelphia University,
                        My major is Software Engineering.</p>
                </div>

            </section>
            <section id="card">

                <div id="member">


                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01M0KK0VCG-641524926a59-512'>

                    <h3>Doa'a Obeidat </h3>
                    <p>I am 24 years old , a communications engineer graduated from Yarmouk
                        university , And i am now a software development student at ASAC</p>
                </div>

            </section>
            <section id="card">

                <div id="member">


                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01N4U7URS5-bd317a74f904-512'>

                    <h3>Neveen Smadi</h3>
                    <p>I'm 22 years old, A Mechatronics Engineer. Graduated from Hashemite University in this year. A
                        GIRL
                        hungry for knowledge yet thirsty for innovation has a passion for Programming.</p>
                </div>

            </section>

            <section id="card">

                <div id="member">


                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01MS9S32UA-03a933c6a626-512'>

                    <h3>Hamza Qahoush</h3>
                    <p>I'm 29 years, major of civil engineering.. in love with computers and coding.</p>
                </div>

            </section>
            <section id="card">

                <div id="member">


                    <img src='https://ca.slack-edge.com/TNGRRLUMA-U01L41BSNVC-a16a21d58982-512'>

                    <h3>Bader Al Shawabkeh</h3>
                    <p>a mechanical engineer, interested in developing software, blockchain, and everything related to
                        the
                        Fourth Industrial Revolution</p>
                </div>

            </section>





        </main>

        <!-- <%- include('footer')%> -->


</body>

</html>