
<div  class="event-form searchForm">
    <form action="/searchforevents/<%=user%>" method="POST">
      <input type="text" name="songs" placeholder="  &#xF002;  Search Artist ...." style="font-family:Arial, FontAwesome" required class="oneEvent" /> <br>
      <br>
      <br>
      <br>
      <button class="btn-event">Search for Events</button>
      

    </form>
  </div>


