<div  class="event-form searchForm">
    <form action="/searchforevents/<%=user%>" method="POST">
      <input type="text" name="search" placeholder="Search Artist...." required  />
      <button class="btn-event">Search for Events</button>

    </form>
  </div>


