<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>event</title>
</head>
<header>
</header>
<body>

 
    <form action="/show" method="POST" class=form >
        <label for="search">Direct to your favorite artist </label><br>
        <input id="text" type="text" name="search" placeholder=" Artist name ...." required><br>
       
    
        <button >Search for upcoming event </button>
    
        </form>
</body>
</html>