<header>

  <img class="logo1" src="/images/logoWhite.png" alt="">
  <div id="ulnavbar">


    <form action="/myprofile/username" method="GET" >
      <button type="submit" class="buttonnavBarstyle">MyProfile</button>
    </form>
    <form action="/search/username" method="GET" >
      <button type="submit" class="buttonnavBarstyle">Search</button>
    </form>
    
    <form action="/uboutUs" method="GET" >
      <button type="submit" class="buttonnavBarstyle">Our Team</button>a
    </form>
    <form action="/login" method="POST" id="logout">
      <button type="submit" class="buttonnavBarstyle">LogOut</button>
    </form>

  </div>


</header>