<header>

  <img class="logo1" src="../videos/logoWhite.png" alt="">  
        <ul id="ulnavbar">
            <li><a href="/"> Home </a></li>
            <li><a href="pages/aboutus"> Team </a></li>
            <li><a href=" pages/search"> Search</a></li>
            <li><a href="pages/myplaylist"> Myprofile </a></li> 
            <li><a href="/"> LogOut </a></li> 

        </ul>
   
   
</header>