<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header></header>

    <main>
    <form action="/singUp" method="POST" id="signup">
    <input type="text" name="name" id="name" placeholder="full name" >
    <input type="email" name="email" id="email" placeholder="email">
    <input type="password" name="pass1" id="pass1" placeholder="your password">
    <input type="password" name="pass2" id="pass2" placeholder="confirm your password">
    <input type="submit" value="SignUp">
    </form>

    <form action="/login" method="POST" id="login">  
    <input type="email" name="emailL" id="emailL" placeholder="email">
    <input type="password" name="passwordL" id="passwordL" placeholder="password">  
    <input type="submit" value="Login">
    </form>



    <form action="/login" method="POST" id="logout">  
    <input type="submit" value="LogOut">
    </form>



    <%data.map(element=>{%>
        <div></div>
    <img src='<%=element.artist.picture_medium%>' alt="" srcset="">
     <h4><%=element.title%></h4>
     <audio controls>  <source src='<%=element.preview%>' type="audio/mpeg"></audio>
</div>
   <% })%>
</main>

<footer class="footer">
    <div class="l-footer">
    <h1>
    <img src="https://i.ibb.co/TchkvnD/logoeditdsizefinal.png" alt=""></h1>
    <p>
    YourSound lets you discover and enjoy the greatest selection of 
    music from the most diverse creator community on earth. including
     the ability to search on music and connect directly with artists,
      as well as unearth breakthrough tracks</div>
    <ul class="r-footer">
    <li>
      <h2>
    Social</h2>
    <ul class="box">
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Pinterest</a></li>
    <li><a href="#">Dribbble</a></li>
    </ul>
    </li>
    <li class="features">
      <h2>
    Information</h2>
    <ul class="box h-box">
    <li><a href="#">Blog</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Sales</a></li>
    </ul>
    </li>
    <li>
      <h2>
    Legal</h2>
    <ul class="box">
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Contract</a></li>
    </ul>
    </li>
    </ul>
    <div class="b-footer">
    <p>
    All rights reserved by ©CompanyName 2020 </p>
    </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>